
.prin{
  display: flex;
  left: 315px;
  margin-top: 35px;
  width: 1000px;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  
}



#texto_n{

  color: white;
}



.bio{
  position: relative;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  
  
}

.botones{
  width: 250px;
  height: 30px;
  padding: 5px;
  border: 1px solid white;
  border-bottom-right-radius: 0;
  color: white;
  background-color: #000000;
  font-size: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
  cursor: pointer;
}

.botones:hover{
  background-color: rgba(255, 255, 255, 0.24);
}

.botones:focus{
  background-color: rgb(168, 0, 65);
}



.texto_n{
  margin-top: 20px;
  text-align: justify;
  margin-left: 60px;
  width: 700px;
  height: 30px;
  justify-content: center;

}

#one{
  color: white;
  padding: 15px 0px;
}

.img_bio{
  
  color: white;

}


.img_bio a{

  text-decoration: none;
  color: white;
}
.img_bio figcaption:hover{

text-decoration: underline;
}

.img_bio figure{
  padding: 20px 20px;
  display: inline-block;
  text-align: center;
}

.img_bio img{

  height: 140px;
  width: 140px;
  border-radius: 50%;
}

#one_img{

margin-top: -68px;
}

#two_img{

  margin-top: 5px;
}

.clor{

  height: 450px;
  border: 0.5px solid white;
  margin: 0px 90px;
  background: linear-gradient(0deg, rgba(254,4,106,0.4598214285714286) 0%, rgba(80,4,35,0.8491771708683473) 18%, rgba(37,13,22,1) 48%, rgba(0,0,0,1) 100%);

@media screen and (max-width: 800px){

  .prin{
  left: 0px;  
  margin-left: 25px;
  margin-right: 5px;
  }
   
 
 }

 @media screen and (max-width: 600px){


 }

}


