
input:hover{

  background-color: rgba(255, 65, 160, 0.212);
  

}

#mensaje:hover{

  background-color: rgba(255, 65, 160, 0.212);
  

}



.prin{
  
  left: 315px;
  margin-top: 35px;
  width: 1000px;
  box-sizing: border-box;
  position: absolute;
}

.text{
  margin-top: 45px;
  width: 100%;
  height: 100%;
}

.tit{
 margin-top: 45px;
 font-size: 36px;
 font-family: 'Playfair Display', serif;
 font-weight: 700;
 margin: 0px 200px;
 color: white;
}

.dent{
 margin: 20px 194px;
 color: white;
 width: 600px;
}

.dent img{
  box-sizing: content-box;
  width: 100%;
  
}

.formulario{

  text-align: center;
}
.env{
  width: 588px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1.7px solid hsl(0, 100%, 99%);

  color: #f2f2f3;
  font-size: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
}

.env2{

  width: 282px;
  height: 30px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1.7px solid hsl(0, 100%, 99%);

  color: #f2f2f3;
  font-size: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
  
}

.pre{
  margin-right: 5px;
}
.env:focus{
  outline: none;
}
.env2:focus{
  outline: none;
}

#mensaje{
  background-color: transparent;
  width: 588px;
  padding: 5px;
  height: 200px;
  font-size: 15px;
  border: 1.7px solid hsl(0, 100%, 99%);
  color: #f2f2f3;
  font-family: "Proxima Nova Regular", sans-serif;
  
}

#mensaje:focus{
  outline: none;
}

.btn_env{

 background-color: transparent;
 font-family: "Proxima Nova Regular", sans-serif;
 color: rgba(255, 255, 255, 0.5);
 left : 288px;
 font-size: 1rem;
 border: 1.7px solid hsl(0, 100%, 99%);
 border-radius: 3px;
 width: 70px;
 height: 40px;
 cursor: pointer;
 margin: 10px 0px;
}

.btn_env:hover{
   background: linear-gradient(#290e0e,#db0025);
}

.ok{
  text-align: center;
  width: 98%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
}

@media screen and (max-width: 800px){

  .prin{
  left: 0px;  
  margin-left: 25px;
  margin-right: 5px;
  }
   
 
 }

 @media screen and (max-width: 600px){


 }
